body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Helvetica', sans-serif;
}
main {
    margin: 0 15%;
}

/* Navigation */

.nav {
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 6px #00000011;
}

.nav span {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav > ul {
    display: flex;
    list-style-type: none;
}

.nav > ul > li {
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px;
}

.nav > ul > li > a {
    padding: 8px 0;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: black;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dropdownLink:hover > .dropdown {
    display: block;
    animation: show .4s forwards;
}

.dropdown {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    background-color: white;
    box-shadow: 1px 3px 6px rgb(0 0 0 / .16);
    transition: all .4s ease-in-out;
    opacity: 0;
    display: none;
    border-radius: 4px;
}

.dropdown > li a {
    padding: 16px;
    width: 100%;
    display: block;
    transition: .2s all ease-in-out;
    text-decoration: none;
    color: black;
}

.nav > ul > li:hover > a {
    color: #0058ff;
}

.dropdown > li:hover > a {
    color: #0058ff;
}

/* End Navigation */



h1 {
    text-align: center;
    font-size: 46px;
}

h3 {
    color: #0058ff;
}

a {
    color: #0027af;
    text-decoration: none;
}

.workshop table {
    width: 100%;
}

.workshop table tr td {
    padding: 32px 0;
}

.workshop table tr td:first-child {
    text-align: left;
}

.workshop table tr td {
    width: 33%;
    text-align: center;
    vertical-align: top;
}

p {
    color: #333;
}


main {
    margin: 0 30%;
}

figure {
    text-align: center;
}

figcaption {
    color: #777;
    font-size: 14px;
}

.labweeks .image-row {
    display: flex;
    justify-content: center;
}
